/*
* var.styl
*/
$color-grey = #d9d9d9;


/* Header Component */
$header-height = 40px;

$header-background-color = #fff;
$header-title-color = #666;
$header-text-color = #999;
$header-arrow-color = #999;

/* z-index */
$z-index-normal = 1;

/* tabbar */
$tabbar-background-color = #fafafa;

/*  */
$search-bg-color = #F8F8F8;
$search-placeholder-font-color = #9B9B9B;
$search-cancel-font-color = #FF9900;
